.main(role='main')
  //- section.page-header
  //-     .container
  //-       .row
  //-         .col-md-12
  //-           ul.breadcrumb
  //-             li
  //-               a(href='#') Home
  //-             li.active About Us
        
  .container
            
      
      //- .row
      //-   .col-md-12
      //-     hr.tall
      //- .row
      //-     .col-md-8
      //-         h3.heading-primary
      //-           strong What
      //-           |  We Do
      //-         |     
      //-         p
      //-           //- |We　are　working　on　heavy　equipment　and　Machinery　site　in　Japan.　We　exports　various　kinds　of　used/reconditioned　industrial　plants　like　Printing　machine,　paper　mill　plant,　water　processing　plant,　oil　processing　plant,　cutting　machine,heavy　industrial　generators　from　japan.　We　are　also　exporting　best　quality　lite used　reconditioned　heavy　equipment　like　crane,　bulldozers,　forklift,　excavators,　dump　truck　etc　in　affordable　price.　Our　experience　provide　us　with　the　capability　to　develop　solutions.　Developing　partnership　with　our　customer　is　important　in　our　commitment　to　provide　total　customer　satisfaction.   
      //-       |   
      //-     .col-md-4
      //-       .featured-box.featured-box-primary
      //-         .box-content
      //-           h4.text-uppercase Behind the scenes
      //-           |         
      //-           ul.thumbnail-gallery(data-plugin-lightbox='', data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}")
      //-             li
      //-               a(title='JPT Heavy machinery', href='images/aboutus1.jpg')
      //-                 span.thumbnail.mb-none
      //-                   img(src='images/aboutus1.jpg', alt='' width="70px" height="70px")
      //-             |             
      //-             li
      //-               a(title='JPT Heavy machinery', href='images/aboutus2.jpg')
      //-                 span.thumbnail.mb-none
      //-                   img(src='images/aboutus2.jpg', alt=''  width="70px" height="70px")
      //-             |               
      //-             li
      //-               a(title='JPT Heavy machinery', href='images/aboutus3.jpg' )
      //-                 span.thumbnail.mb-none
      //-                   img(src='images/aboutus3.jpg', alt='' width="70px" height="70px")
      //-             |                 
      //-             li
      //-               a(title='JPT Heavy machinery', href='images/aboutus4.jpg' )
      //-                 span.thumbnail.mb-none
      //-                   img(src='images/aboutus4.jpg', alt='' width="70px" height="70px")
      //-             |                   
      //-             li
      //-               a(title='JPT Heavy machinery', href='images/aboutus5.jpg' )
      //-                 span.thumbnail.mb-none
      //-                   img(src='images/aboutus5.jpg', alt='' width="70px" height="70px")
      //-             |                     
      //-             li
      //-               a(title='JPT Heavy machinery', href='images/aboutus6.jpg' )
      //-                 span.thumbnail.mb-none
      //-                   img(src='images/aboutus6.jpg', alt='' width="70px" height="70px")
      //- .row
      //-     .col-md-12
      //-         hr.tall
      //-     |   
      .row
        .col-md-12
          h3.heading-primary.mt-xl
            | Our 
            strong History
      .row
          .col-md-12
              ul.history
                
                li.appear-animation(data-appear-animation='fadeInUp')
                  .thumb
                    img(src='images/aboutus6.jpg', alt='JPT Heavy machinery')
                  |         
                  .featured-box
                    .box-content
                      h4.heading-primary
                        strong 2010
                      |             
                      p
                      | Our paper mill factory has begun its journey with the ambition to diversify our JPT group.By providing substantial volume of quality paper, JPT has succeeded to reduce the gap between demand and supply of paper in the country. This has resulted to curtail the volume of import of paper and to save the hard earned foreign currency. A team of professionals has been engaged in running mill since it had stepped in. This management team is of high commercial and technological caliber and assumes a real international status with profound degree of specialization in the field of paper production. 
                |       
                li.appear-animation(data-appear-animation='fadeInUp')
                  .thumb
                    img(src='images/aboutus7.jpg', alt='JPT Heavy machinery')
                  |         
                  .featured-box
                    .box-content
                      h4.heading-primary
                        strong 2005
                      |             
                      p
                      | After a few years of starting the heavy machineries venture ,the upsurge demand of electronics came to our notice and we observe that we can create a massive dent in the sector by providing the best electronic eqiptment with the best customer service  
                |       
                li.appear-animation(data-appear-animation='fadeInUp')
                  .thumb
                    img(src='images/aboutus1.jpg', alt='JPT Heavy machinery')
                  |         
                  .featured-box
                    .box-content
                      h4.heading-primary
                        strong 2000
                      |             
                      p
                      | This is our first venture.We started selling all kinds of heavy machineries for the infrastructure sector.Over time, we started to offer an array of machineries needed for the facilitation of their work.
script(src='js/theme.init.js')