 
.main(role='main')
  section.page-header
    .container      
      .row
        .col-md-12
          ul.breadcrumb
            li
              
      .row
        .col-md-12
          h1 Admin Panel
    .container
      .row
        .col-md-3
          aside#sidebar-left.sidebar-left
            .sidebar-header
              .sidebar-title
                br
            
            .nano
              .nano-content
                nav#menu.nav-main(role='navigation')
                  ul.nav.nav-main
                    
                        li
                          a(href='#/user_list')
                            | User List
                        li
                          a(href='#/find_land')
                            | Land Information
                        li.nav-active
                          a(href='#/land_registration')
                            | Land Registration
                        li
                          a(href='#/register')
                            | User Registration
        .col-md-9
            //- .row
            //-   .col-md-6
            //-     th
            //-                 input(size="10",type="text", ng-model="user.phoneNumber", ng-keyup="getUserList(user)")
            //-   .col-md-6
            //-     th
            //-                 input(size="10",type="text", ng-model="user.nid", ng-keyup="getUserList(user)")
                     

            .row
              .col-md-12

                                
                            
                    
              script.
                // Maintain Scroll Position
                if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                var initialPosition = localStorage.getItem('sidebar-left-position'),
                sidebarLeft = document.querySelector('#sidebar-left .nano-content');
                sidebarLeft.scrollTop = initialPosition;
                }
                }
          // end: sidebar
