

.container
	.row
		.col-md-12
			
			h1(style='color:#71da71;') Land List
			table.table(border='5')
				thead
					col
					tr
						th(width="10%") Division
						th District
						
						th Upazilla
						th Thana
						th Village
						th LandType
						th 
						
					tr
						th
							input(placeholder='Search...' ,size="10",type="text", ng-model="land.division", ng-keyup="getLandList(land)")
						th
							input(placeholder='Search...' ,size="10",type="text", ng-model="land.district", ng-keyup="getLandList(land)")
						
						th
							input(placeholder='Search...' ,size="10",type="text", ng-model="land.upazilla", ng-keyup="getLandList(land)")
						th
							input(placeholder='Search...' ,size="10",type="text", ng-model="land.thana", ng-keyup="getLandList(land)")
						th
							input(placeholder='Search...' ,size="10",type="text", ng-model="land.village", ng-keyup="getLandList(land)")
						th
							input(placeholder='Search...' ,size="10",type="text", ng-model="land.landType", ng-keyup="getLandList(land)")
						th
							d(size="10",ng-model="land.landType", ng-keyup="getLandList(land)")
						
						
				tbody
					tr(ng-repeat = "land in landList")
						td(ng-bind="land.division")
						td(ng-bind="land.district")
						
						td(ng-bind="land.upazilla")
						td(ng-bind="land.thana")
						td(ng-bind="land.village")
						td(ng-bind="land.landType")


						td 
							a.btn.btn-danger.pull-right.mb-xl(ng-click="landDelete(land._id)") Delete
							a.btn.btn-success.pull-left.mb-xl(href="#/land_details/{{land._id}}") Details
							a.btn.btn-info.pull.mb-xl(href="#/land_details/{{land._id}}") Edit

	
		.col-sm-1.col-sm-offset-11
			button.btn.btn-basic BACK

