.main(role='main')
   

    .slider-container.rev_slider_wrapper
      #revolutionSlider.slider.rev_slider(data-plugin-revolution-slider='', data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500}")
        ul
          li(data-transition='fade')
            img.rev-slidebg(src='img/header.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
            .tp-caption(data-x='177', data-y='188', data-start='1000', data-transform_in='x:[-300%];opacity:0;s:500;')
              img(src='img/slides/slide-title-border-light.png', alt='')
            .tp-caption.top-label(data-x='227', data-y='180', data-start='500', data-transform_in='y:[-300%];opacity:0;s:500;') Welcome to LEASE
            .tp-caption(data-x='480', data-y='188', data-start='1000', data-transform_in='x:[300%];opacity:0;s:500;')
              img(src='img/slides/slide-title-border-light.png', alt='')
            .tp-caption.main-label(data-x='135', data-y='210', data-start='1500', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', data-mask_in='x:0px;y:0px;')  LAND MANAGEMENT SYSTEM
            
          li(data-transition='fade')
            img.rev-slidebg(src='img/jol.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
            .tp-caption.featured-label(data-x='center', data-y='210', data-start='500', style='z-index: 5', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;') Bangladesh 
            .tp-caption.bottom-label(data-x='center', data-y='270', data-start='1000', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;', data-transform_out='opacity:0;s:500;', data-mask_in='x:0px;y:0px;s:inherit;e:inherit;', data-splitin='chars', data-splitout='none', data-responsive_offset='on', style='font-size: 23px; line-height: 30px;', data-elementdelay='0.05') 
   
    
    #home-intro.home-intro
      .container
        .row
          .col-md-8
            p
              | A 
              em step 
              | towards 
              em the 
              | future. 
          //-     span 
          //- .col-md-4
          //-   .get-started
          //-     a.btn.btn-lg.btn-primary(href='#/product') Check Out Now!
    .container
      .row
        .col-md-12
          h2
            | Our 
            strong Services
        .row
          .col-md-4
            .feature-box.feature-box-style-2.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
              .feature-box-icon
                i.icon-user-following.icons
              .feature-box-info
                h4.mb-sm Land Info
                p.mb-lg
                  | Which division contains how many lands. The land types under each district and upazilla.
          .col-md-4
            .feature-box.feature-box-style-2.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
              .feature-box-icon
                i.icon-layers.icons
              .feature-box-info
                h4.mb-sm Hat-bazar 
                p.mb-lg
                  | I dont know what to write about hatbazar.
          .col-md-4
            .feature-box.feature-box-style-2.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
              .feature-box-icon
                i.icon-calculator.icons
              .feature-box-info
                h4.mb-sm Jol-mohol
                p.mb-lg
                  | To be written.
        .row
          .col-md-4
            .feature-box.feature-box-style-2.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
              .feature-box-icon
                i.icon-user-following.icons
              .feature-box-info
                h4.mb-sm Bal-umohol
                p.mb-lg
                  |To be written.
          .col-md-4
            .feature-box.feature-box-style-2.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
              .feature-box-icon
                i.icon-layers.icons
              .feature-box-info
                h4.mb-sm Chingri-mohol 
                p.mb-lg
                  | To be written.
          .col-md-4
            .feature-box.feature-box-style-2.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
              .feature-box-icon
                i.icon-calculator.icons
              .feature-box-info
                h4.mb-sm Pathor-mohol
                p.mb-lg
                  | to be written.
        
    section.parallax.section.section-text-light.section-parallax.section-center.mt-xl.mb-none(data-plugin-parallax='', data-plugin-options="{'speed': 1.5}", data-image-src='img/parallax-6.jpg')
      //- .container
      //-   .row
      //-     .col-md-10.col-md-offset-1
      //-       .owl-carousel.owl-theme.nav-bottom.rounded-nav(data-plugin-options="{'items': 1, 'loop': false}")
      //-         div
      //-           .col-md-12
      //-             .testimonial.testimonial-style-2.testimonial-with-quotes.mb-none
      //-               //- .testimonial-author
      //-               //-   img.img-responsive.img-circle(src='img/clients/client-1.jpg', alt='')
      //-               blockquote
      //-                 p
      //-                   | Dont underestimate the power of master moshai
      //-               .testimonial-author
      //-                 p
      //-                   strong Mohammad Monirujjam Khan
      //-                   span 
      //-         div
      //-           .col-md-12
      //-             .testimonial.testimonial-style-2.testimonial-with-quotes.mb-none
      //-               .testimonial-author
      //-                 img.img-responsive.img-circle(src='img/clients/client-1.jpg', alt='')
      //-               blockquote
      //-                 p
      //-                   | 
      //-               .testimonial-author
      //-                 p
      //-                   strong John Smith
      //-                   span CEO & Founder - Okler

      .container

          .col-md-12
           
            .row
              .counters
                .col-md-3.col-sm-6
                  .counter
                    strong(data-to='160', data-append='+') 0
                    label Million people
                .col-md-3.col-sm-6
                  .counter
                    strong(data-to='8') 0
                    label Divisions
                .col-md-3.col-sm-6
                  .counter
                    strong(data-to='64') 0
                    label Districts
                .col-md-3.col-sm-6
                  .counter
                    strong(data-to='491') 0
                    label Upazilas



      script(src='js/theme.init.js')