.container
  .row
    .col-md-12
      .featured-boxes
        .row
          .col-md-3
          .col-md-6
            .featured-box.featured-box-primary.align-left.mt-xlg
              .box-content
                h4.heading-primary.text-uppercase.mb-md JOL-MOHOR DETAILS
                form#frmSignUp()
                  .row
                    .form-group
                      .col-md-12
                        label Jol-mohor Name
                        input.form-control(ng-model="landreg.jolmohorname",name='jolmohorname',type='text')
                  .row
                    .form-group
                      .col-md-12
                        label ID
                        input.form-control(ng-model="landreg.id",name='id',type='text') 

                  .row
                    .form-group
                      .col-md-12
                        label Owner Name
                        input.form-control(ng-model="landreg.ownername",name='ownername',type='text')
                  .row
                    .form-group
                      .col-md-12
                        label land size
                        input.form-control(ng-model="landreg.landsize",name='landsize',type='text')                 
                  .row
                    .form-group
                      .col-md-12
                        label Purchase Date
                        input.form-control(ng-model="landreg.purchasedate",name='purchasedate',type='Date')
                       

                  .row
                    .form-group
                      .col-md-12
                        label Case details
                        input.form-control(ng-model="landreg.case",name='case',type='text') 
                  .row
                    .form-group
                      .col-md-12
                        label Case Date
                        input.form-control(ng-model="landreg.casedate",name='casedate',type='Date')   


                  .row
                    .col-md-12
                      input.btn.btn-primary.pull-right.mb-xl(type='submit', ng-click='formSubmit(landreg)', value="Register jolmohor")
          .col-md-3