.container
	.row
		table.table(border='5')
			tr(style='color:white;')
				td Land Name
				td(ng-bind="land.landName")
			tr(style='color:white;')
				td Land Size
				td(ng-bind="land.landSize")

			tr(style='color:white;')
				td Location
				td(ng-bind="land.location")

			tr(style='color:white;')
				td Purchase Date
				td(ng-bind="land.purchaseDate")


			tr(style='color:white;')
				td Purchase Amount
				td(ng-bind="land.purchaseAmount")

			tr(style='color:white;')
				td Case Date
				td(ng-bind="land.caseDate")

			tr(style='color:white;')
				td Case Details
				td(ng-bind="land.caseDetails")

			tr(style='color:white;')
				td Owner Name
				td(ng-bind="land.ownerName")

			tr(style='color:white;')
				td Owner NID
				td(ng-bind="land.nid")

			

			

			

			

			