.container
  .featured-boxes
    .row
      .col-md-3
      .col-md-6
        .featured-box.featured-box-primary.align-left.mt-xlg
          .box-content
            h4.heading-primary.text-uppercase.mb-md WELCOME
            form#frmSignIn(ng-submit="loginSubmit(login)")
              .row
                .form-group
                  .col-md-12
                    label(style='color:white;') Username or E-mail Address
                    input.form-control.input-lg(style='color:orange;')(type='text', ng-model="login.username")
              .row
                .form-group
                  .col-md-12
                    a.pull-right(href='#') (Lost Password?)
                    label(style='color:white;') Password
                    input.form-control.input-lg(style='color:orange;')(type='password', ng-model="login.password")
              .row
                .col-md-6
                  span.remember-box.checkbox
                    label(style='color:white;')(for='rememberme')
                      input#rememberme(type='checkbox', name='rememberme')
                      | Remember Me
                .col-md-6
                  button.btn.btn-primary.pull-right.mb-xl(type='submit') LogIn
      .col-md-3

script(src='js/theme.init.js')