doctype html
html
  head
    // Basic
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Demo Digital Agency | Porto - Responsive HTML5 Template 5.7.1
    meta(name='keywords', content='HTML5 Template')
    meta(name='description', content='Porto - Responsive HTML5 Template')
    meta(name='author', content='okler.net')
    // Favicon
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/apple-touch-icon.png')
    // Mobile Metas
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    // Web Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light', rel='stylesheet', type='text/css')
    // Vendor CSS
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/animate/animate.min.css')
    link(rel='stylesheet', href='vendor/simple-line-icons/css/simple-line-icons.min.css')
    link(rel='stylesheet', href='vendor/owl.carousel/assets/owl.carousel.min.css')
    link(rel='stylesheet', href='vendor/owl.carousel/assets/owl.theme.default.min.css')
    link(rel='stylesheet', href='vendor/magnific-popup/magnific-popup.min.css')
    // Theme CSS
    link(rel='stylesheet', href='css/theme.css')
    link(rel='stylesheet', href='css/theme-elements.css')
    link(rel='stylesheet', href='css/theme-blog.css')
    link(rel='stylesheet', href='css/theme-shop.css')
    // Current Page CSS
    link(rel='stylesheet', href='vendor/rs-plugin/css/settings.css')
    link(rel='stylesheet', href='vendor/rs-plugin/css/layers.css')
    link(rel='stylesheet', href='vendor/rs-plugin/css/navigation.css')
    // Skin CSS
    link(rel='stylesheet', href='css/skins/skin-digital-agency.css')
    // Demo CSS
    link(rel='stylesheet', href='css/demos/demo-digital-agency.css')
    // Theme Custom CSS
    link(rel='stylesheet', href='css/custom.css')
    // Head Libs
    script(src='vendor/modernizr/modernizr.min.js')
  body
    .body
      header#header.header-narrow.header-semi-transparent(data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 1, 'stickySetTop': '0'}")
        .header-body
          .header-container.container
            .header-row
              .header-column
                .header-logo
                  a(href='demo-digital-agency.html')
                    img(alt='Porto', width='131', height='40', src='img/demos/digital-agency/logo-digital-agency.png')
              .header-column
                .header-row
                  .header-nav.header-nav-stripe
                    button.btn.header-btn-collapse-nav(data-toggle='collapse', data-target='.header-nav-main')
                      i.fa.fa-bars
                    ul.header-social-icons.social-icons.hidden-xs
                      li.social-icons-facebook
                        a(href='http://www.facebook.com/', target='_blank', title='Facebook')
                          i.fa.fa-facebook
                      li.social-icons-twitter
                        a(href='http://www.twitter.com/', target='_blank', title='Twitter')
                          i.fa.fa-twitter
                      li.social-icons-linkedin
                        a(href='http://www.linkedin.com/', target='_blank', title='Linkedin')
                          i.fa.fa-linkedin
                    .header-nav-main.header-nav-main-square.header-nav-main-effect-2.header-nav-main-sub-effect-1.collapse
                      nav
                        ul#mainNav.nav.nav-pills
                          li.active
                            a(href='demo-digital-agency.html')
                              | Home
                          li
                            a(href='demo-digital-agency-about.html')
                              | About
                          li
                            a(href='demo-digital-agency-services.html')
                              | Services
                          li
                            a(href='demo-digital-agency-work.html')
                              | Work
                          li
                            a(href='demo-digital-agency-contact.html')
                              | Contact
      .main(role='main')
        .slider-container.rev_slider_wrapper(style='height: 600px;')
          #revolutionSlider.slider.rev_slider(data-plugin-revolution-slider='', data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 600}")
            ul
              li(data-transition='fade')
                img.rev-slidebg(src='img/slides/slide-corporate-6.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-kenburns='on', data-duration='9000', data-ease='Linear.easeNone', data-scalestart='115', data-scaleend='100', data-rotatestart='0', data-rotateend='0', data-offsetstart='0 -200', data-offsetend='0 200', data-bgparallax='0')
                .tp-caption.tp-caption-overlay.tp-caption-overlay-primary.main-label(data-x='center', data-y='265', data-start='1000', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', data-mask_in='x:0px;y:0px;') WELCOME TO PORTO
                .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='center', data-y='358', data-start='2000', data-transform_in='y:[100%];opacity:0;s:500;') The #1 Selling HTML Site Template on ThemeForest
              li(data-transition='fade')
                img.rev-slidebg(src='img/demos/digital-agency/slides/slide-digital-agency-1.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-kenburns='on', data-duration='9000', data-ease='Linear.easeNone', data-scalestart='115', data-scaleend='100', data-rotatestart='0', data-rotateend='0', data-offsetstart='0 400px', data-offsetend='0 -400px', data-bgparallax='0')
                .tp-caption.tp-caption-overlay.tp-caption-overlay-primary.main-label(data-x='center', data-y='265', data-start='1000', data-whitespace='nowrap', data-transform_in='y:[100%];s:500;', data-transform_out='opacity:0;s:500;', data-mask_in='x:0px;y:0px;') DIGITAL AGENCY
                .tp-caption.tp-caption-overlay-opacity.bottom-label(data-x='center', data-y='358', data-start='2000', data-transform_in='y:[100%];opacity:0;s:500;') We Create Amazing Solutions for Our Clients
        .container
          .row.mt-xl
            .col-md-10.col-md-offset-1
              .tabs.tabs-bottom.tabs-center.tabs-simple.mt-sm.mb-xl
                ul.nav.nav-tabs
                  li.active
                    a(href='#tabsNavigationSimpleIcons1', data-toggle='tab')
                      span.featured-boxes.featured-boxes-style-6.p-none.m-none
                        span.featured-box.featured-box-primary.featured-box-effect-6.p-none.m-none
                          span.box-content.p-none.m-none
                            i.icon-featured.icon-bulb.icons
                      p.mb-none.pb-none Strategy
                  li
                    a(href='#tabsNavigationSimpleIcons2', data-toggle='tab')
                      span.featured-boxes.featured-boxes-style-6.p-none.m-none
                        span.featured-box.featured-box-primary.featured-box-effect-6.p-none.m-none
                          span.box-content.p-none.m-none
                            i.icon-featured.icon-mustache.icons
                      p.mb-none.pb-none Creative
                  li
                    a(href='#tabsNavigationSimpleIcons3', data-toggle='tab')
                      span.featured-boxes.featured-boxes-style-6.p-none.m-none
                        span.featured-box.featured-box-primary.featured-box-effect-6.p-none.m-none
                          span.box-content.p-none.m-none
                            i.icon-featured.icon-puzzle.icons
                      p.mb-none.pb-none Development
                  li
                    a(href='#tabsNavigationSimpleIcons4', data-toggle='tab')
                      span.featured-boxes.featured-boxes-style-6.p-none.m-none
                        span.featured-box.featured-box-primary.featured-box-effect-6.p-none.m-none
                          span.box-content.p-none.m-none
                            i.icon-featured.icon-rocket.icons
                      p.mb-none.pb-none Marketing
                .tab-content
                  #tabsNavigationSimpleIcons1.tab-pane.active
                    .center
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc 
                        a(href='#') vehicula
                        |  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                  #tabsNavigationSimpleIcons2.tab-pane
                    .center
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc 
                        a(href='#') vehicula
                        |  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                  #tabsNavigationSimpleIcons3.tab-pane
                    .center
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc 
                        a(href='#') vehicula
                        |  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                  #tabsNavigationSimpleIcons4.tab-pane
                    .center
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc 
                        a(href='#') vehicula
                        |  lacinia. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              p.center
                a.btn.btn-default.mt-md(href='demo-digital-agency-services.html')
                  | Learn More 
                  i.fa.fa-angle-right.pl-xs
        section.section.section-default.section-default-scale-8
          .container
            .row
              .col-md-12.center
                h2.mb-none.mt-none.font-weight-semibold.text-light Who We Are:
                p.lead.mb-xlg Pellentesque pellentesque eget tempor tellus. 
                .divider.divider-primary.divider-small.divider-small-center.mb-xl
                  hr
                p.mb-none.text-light
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc 
                  a(href='#') vehicula
                  |  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.
                a.btn.btn-primary.mt-xl.mb-sm(href='demo-digital-agency-about.html')
                  | Learn More 
                  i.fa.fa-angle-right.pl-xs
        section.mt-xl.mb-none.pb-none
          .container
            .row
              .col-md-12.center
                h2.mb-none.mt-xl.font-weight-semibold Recent Work:
                p.lead.mb-xlg Pellentesque pellentesque eget tempor tellus. 
                .divider.divider-primary.divider-small.divider-small-center.mb-xl
                  hr
            .row
              .col-md-8.col-md-offset-2
                .carousel-areas.mt-xl.mb-none
                  .owl-carousel.owl-theme.m-none(data-plugin-options="{'autoHeight': true, 'items': 1, 'margin': 10, 'nav': true, 'dots': false, 'stagePadding': 0}")
                    div
                      a(href='demo-digital-agency-work-detail.html')
                        img.img-responsive(alt='', src='img/previews/areas/content-7.png')
                    div
                      a(href='demo-digital-agency-work-detail.html')
                        img.img-responsive(alt='', src='img/previews/areas/content-5.png')
        section.section.section-tertiary.section-front.mt-none
          .container
            .row
              .col-md-12.center
                .row
                  .col-md-12.center
                    h2.mb-none.mt-xl.font-weight-semibold.text-dark Who Loves Us
                    p.lead.mb-xlg Pellentesque pellentesque eget tempor tellus. 
                    .divider.divider-primary.divider-small.divider-small-center.mb-xl
                      hr
                .row
                  .col-md-4
                    .testimonial.testimonial-style-2.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                      blockquote
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                      .testimonial-arrow-down
                      .testimonial-author
                        img.img-responsive.img-circle(src='img/clients/client-1.jpg', alt='')
                        p
                          strong John Smith
                          span CEO & Founder - Okler
                  .col-md-4
                    .testimonial.testimonial-style-2.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='600')
                      blockquote
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                      .testimonial-arrow-down
                      .testimonial-author
                        img.img-responsive.img-circle(src='img/clients/client-2.jpg', alt='')
                        p
                          strong Jessica Doe
                          span Marketing - Okler
                  .col-md-4
                    .testimonial.testimonial-style-2.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='700')
                      blockquote
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                      .testimonial-arrow-down
                      .testimonial-author
                        img.img-responsive.img-circle(src='img/clients/client-3.jpg', alt='')
                        p
                          strong Bob Smith
                          span CEO & Founder - Okler
        .container
          .row.mt-xl
            .counters.counters-text-dark
              .col-md-3.col-sm-6
                .counter.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
                  i.fa.fa-user
                  strong(data-to='25000', data-append='+') 0
                  label Happy Clients
                  p.text-color-primary.mb-xl They can’t be wrong
              .col-md-3.col-sm-6
                .counter.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='600')
                  i.fa.fa-desktop
                  strong(data-to='19') 0
                  label Premade HomePages
                  p.text-color-primary.mb-xl Many more to come
              .col-md-3.col-sm-6
                .counter.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='900')
                  i.fa.fa-ticket
                  strong(data-to='2500', data-append='+') 0
                  label Answered Tickets
                  p.text-color-primary.mb-xl Satisfaction guaranteed
              .col-md-3.col-sm-6
                .counter.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='1200')
                  i.fa.fa-clock-o
                  strong(data-to='3000', data-append='+') 0
                  label Development Hours
                  p.text-color-primary.mb-xl Available to you for only $17
      footer#footer.short
        .container
          .row
            .col-sm-2
              a.logo(href='demo-digital-agency.html')
                img.img-responsive(alt='Porto Website Template', src='img/demos/digital-agency/logo-digital-agency.png')
            .col-sm-2.col-sm-offset-6.align-right
              h5.mb-sm New York
              span.phone.font-size-sm
                i.fa.fa-phone.text-color-primary
                |  (800) 123-4567
            .col-sm-2.align-right
              h5.mb-sm Los Angeles
              span.phone.font-size-sm
                i.fa.fa-phone.text-color-primary
                |  (800) 123-4567
          .row
            .col-md-12
              hr.solid
              .row
                .col-md-6
                  p © Copyright 2017. All Rights Reserved.
                .col-md-6.align-right
                  ul.social-icons.pull-right
                    li.social-icons-facebook
                      a(href='http://www.facebook.com/', target='_blank', title='Facebook')
                        i.fa.fa-facebook
                    li.social-icons-twitter
                      a(href='http://www.twitter.com/', target='_blank', title='Twitter')
                        i.fa.fa-twitter
                    li.social-icons-linkedin
                      a(href='http://www.linkedin.com/', target='_blank', title='Linkedin')
                        i.fa.fa-linkedin
                  span.footer-email-custom.pull-right
                    i.fa.fa-envelope.text-color-primary
                    a(href='mailto:mail@example.com') mail@example.com
    // Vendor
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/jquery.appear/jquery.appear.min.js')
    script(src='vendor/jquery.easing/jquery.easing.min.js')
    script(src='vendor/jquery-cookie/jquery-cookie.min.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    script(src='vendor/common/common.min.js')
    script(src='vendor/jquery.validation/jquery.validation.min.js')
    script(src='vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js')
    script(src='vendor/jquery.gmap/jquery.gmap.min.js')
    script(src='vendor/jquery.lazyload/jquery.lazyload.min.js')
    script(src='vendor/isotope/jquery.isotope.min.js')
    script(src='vendor/owl.carousel/owl.carousel.min.js')
    script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
    script(src='vendor/vide/vide.min.js')
    // Theme Base, Components and Settings
    script(src='js/theme.js')
    // Current Page Vendor and Views
    script(src='js/views/view.contact.js')
    // Current Page Vendor and Views
    script(src='vendor/rs-plugin/js/jquery.themepunch.tools.min.js')
    script(src='vendor/rs-plugin/js/jquery.themepunch.revolution.min.js')
    // Theme Custom
    script(src='js/custom.js')
    // Theme Initialization Files
    script(src='js/theme.init.js')
    //
      Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-12345678-1', 'auto');
      ga('send', 'pageview');
      </script>
