table
	thead
		tr
			th Username
			th  email
			th contact number
			th NID
			
	tbody
		tr(ng-repeat = "user in userList")
			td {{user.username}}
			td {{user.email}}
			td {{user.phonenumber}}
			td {{user.nid}}
			

			td 
				button(ng-click="userDelete(user._id)") Delete
				button(ng-click="userDelete(user._id)") Edit