doctype html
html(lang='en',ng-app='App')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Lease App
    //Favicon
    link(rel='shortcut icon', href='stylesheets/img/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='stylesheets/img/apple-touch-icon.png')
    // Mobile Metas
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    // Web Fonts
    //link(href='https://fonts.googleapis.com/css?family=Oswald:300,400,600,700,800%7CShadows+Into+Light', rel='stylesheet', type='text/css')
    // Vendor CSS
    link(rel='stylesheet', href='stylesheets/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/vendor/animate/animate.min.css')
    link(rel='stylesheet', href='stylesheets/vendor/simple-line-icons/css/simple-line-icons.min.css')
    link(rel='stylesheet', href='stylesheets/vendor/owl.carousel/assets/owl.carousel.min.css')
    link(rel='stylesheet', href='stylesheets/vendor/owl.carousel/assets/owl.theme.default.min.css')
    link(rel='stylesheet', href='stylesheets/vendor/magnific-popup/magnific-popup.min.css')
    // Theme CSS
    link(rel='stylesheet', href='stylesheets/css/theme.css')
    link(rel='stylesheet', href='stylesheets/css/theme-elements.css')
    link(rel='stylesheet', href='stylesheets/css/theme-blog.css')
    link(rel='stylesheet', href='stylesheets/css/theme-shop.css')
    // Current Page CSS
    link(rel='stylesheet', href='stylesheets/vendor/rs-plugin/css/settings.css')
    link(rel='stylesheet', href='stylesheets/vendor/rs-plugin/css/layers.css')
    link(rel='stylesheet', href='stylesheets/vendor/rs-plugin/css/navigation.css')
    link(rel='stylesheet', href='stylesheets/vendor/circle-flip-slideshow/css/component.css')
    // Skin CSS
    link(rel='stylesheet', href='stylesheets/css/skins/default.css')
    // Theme Custom CSS
    link(rel='stylesheet', href='stylesheets/css/custom.css')
    // Head Libs
    script(src='stylesheets/vendor/modernizr/modernizr.min.js')
  body
    header#header(data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 57, 'stickySetTop': '-57px', 'stickyChangeLogo': true}")
        .header-body
          .header-container.container
            .header-row
              .header-column
                .header-logo
                  a(href='index.html')
                    img(alt='', height='160',width='160',data-sticky-width='100', data-sticky-height='100', data-sticky-top='50', src='stylesheets/imgs/logo.png')
              .header-column
                .header-row
                  //.header-search.hidden-xs
                    form#searchForm(action='page-search-results.html', method='get')
                      .input-group
                        input#q.form-control(type='text', name='q', placeholder='Search...', required='')
                        span.input-group-btn
                          button.btn.btn-default(type='submit')
                            i.fa.fa-search
                 
                .header-row
                  .header-nav
                    button.btn.header-btn-collapse-nav(data-toggle='collapse', data-target='.header-nav-main')
                      i.fa.fa-bars
                    .header-nav-main.header-nav-main-effect-1.header-nav-main-sub-effect-1.collapse
                      nav
                        ul#mainNav.nav.nav-pills
                          li
                            a.toggle(href='#/home')
                              | Home
                          li
                            a.toggle(href='#/e_tender')
                              | E-tender
                          li
                            a.toggle(href='#/land')
                              | Land
                          li
                            a.toggle(href='#/find_land')
                              | Find Land
                          li
                            a.toggle(href='#/contact_us')
                              | Contact Us
                              
                          li
                            a.toggle(href='#/about_us')
                              | About Us 
                          li
                            a.toggle(href='#/register')
                              | Log in        
                          
    
      
    .container
      block content
    // /.container
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='stylesheets/vendor/jquery/jquery.min.js')
    // Theme Base, Components and Settings
    script(src='stylesheets/js/theme.js')
    // Current Page Vendor and Views
    script(src='stylesheets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js')
    script(src='stylesheets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js')
    // Theme Custom
    script(src='stylesheets/js/custom.js')
    // Theme Initialization Files
    script(src='stylesheets/js/theme.init.js')
    //
    // Include all compiled plugins (below), or include individual files as needed
    // Bower Component Additions
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/oclazyload/dist/ocLazyLoad.js')
    script(src='javascripts/main.js')